body{
  text-align: center;
    width:100%;
}

html {
  font-size: 62.5%;

}

.page {
  position : absolute;
  top : 0;
  bottom : 0;
  width : 100%;

  left : 50%;
  transform: translate(-50%, 0);

  background-color: aliceblue;

  /* overflow: hidden; */

  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: 18px;
}

